* {
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS";
}

body {
  height: 77vh;
  background: linear-gradient(
    to top,
    #c6ebbe,
    #c6ebbe 60%,
    #7ca5b8 70%,
    #7ca5b8
  );
}

/* body {
  background-image: linear-gradient(
    to bottom,
    orange,
    orange 50%,
    green 50%,
    green
  );
  background-size: cover;
  background-repeat: no-repeat;
} */

#header {
  height: 250px;
  background: #7ca5b8;
  color: white;
}

.input-group {
  display: flex;
  width: 600px;
  padding: 4px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 130px;
  margin-bottom: 30px;
  box-shadow: inset 0px 0px 0px 10px #ecf0f1;
  border: 30px solid #ecf0f1;
  border-radius: 30px;
  padding: 0px;
}

.form-control {
  width: 100%;
  height: 55px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  color: white;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 65px;
  background-color: #3b97d3;
  border-radius: 50px;
  border: 1px solid #ffc5dd;
}

#button-addon2 {
  position: absolute;
  height: 45px;
  width: 50px;
  background-color: #ecf0f1;
  border-style: none;
  border-radius: 50px;
  margin-left: 530px;
  cursor: pointer;
}

.translationImages {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0px auto;
  width: 700px;
}

img {
  width: 70px;
}

#arrow {
  display: inline-block;
  font-family: arial;
  font-size: 20px;
  margin-bottom: 10%;
  transform: scale(2, 2);
  color: black;
}
